@media only screen and (max-width: 480px) {
    .login-box {
        padding: 0 !important;
        border: none !important;
        border-radius: 0 !important;
        margin: 0 !important;
        width: 100% !important;
    }

    .logo {
        display: none !important;
    }

    .company {
        text-align: center !important;
        padding: 20px !important;
    }

    .login-button {
        margin: 50px auto !important;
        padding: 15px 30px !important;
        font-size: 18px !important;
    }

    .request-input {
        width: 100% !important;
    }

    .request-label {
        margin-bottom: 0;
        margin-top: 15px;
        padding: 0;
    }

    .notes-box {
        min-width: 100%;
    }

    .request-button {
        margin: auto;
    }

    .button-row {
        float: unset !important;
        margin-bottom: 20px;
    }
}


body {
    font-family: "Open Sans", serif;
}

.logo {
    height: 75px;
    padding: 10px 10px 5px 10px;
}

.company {
    font-family: oswald, serif;
    font-weight: bold;
    font-size: 40px;
    padding-left: 0;
}

.login-box {
    padding: 0;
    border: solid 1px black;
    border-radius: 5px;
    margin: 10% auto auto auto;
    width: 25%;
}

.login-header {
    padding: 0 20px;
    background-color: #3c3c3c;
}

.login-header div h3 {
    color: #fbda00;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: auto;
}

.login-content {
    margin: 20px;
}

.login-content form {
    margin: 20px;
}

.login-button {
    margin: 20px 0 0 auto;
    color: #fff;
    background-color: #86b445;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #7ca543;
}

.username-input, .password-input {
    height: calc(2.25rem + 5px);
    padding: .375rem .75rem;
    border: solid 1px #828181;
    outline: none;
    border-radius: 5px;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px white;
}

.username-label, .password-label {
    padding: 0;
    margin: 0;
}

.password-row {
    margin-top: 15px;
}


/* Navbar */

.navbar {
    text-transform: uppercase;
}

.topBar-logo{
    height: 45px;
    margin-right: 10px;

}

.navbar-style {
    background-color: #3d3d3d;
    height: 65px;
    padding: 0;
}

.navbar-style a {
    color: #fff !important;
}

.navbar-logo {
    background-color: #3d3d3d !important;
    height: 37px;
    margin: 0;
    padding: 0;
}

.navbar-logo-div {
    height: 100%;
    background-color: #3d3d3d;
    padding: 15px 30px 0;
}

.nav-link {
    padding: 20px !important;
    height: 65px;
}

.nav-link:hover {
    background-color: #313e5b;
    transition: background-color .1s ease-in-out;

}

.navbar-nav {
    height: 100%;
}

#navbar-nav-dropdown {
    height: 100%;
}

.nav-dropdown {
    margin: 0;
    padding: 0;
    background-color: #3d3d3d;
    top: auto;
    border: none;
    border-radius: 0;
}

.dropdown-item:hover {
    background-color: #313e5b;
    color: #fff;
    transition: background-color .1s ease-in-out;
}

.dropdown-item {
    padding: 9px 24px;
    border-bottom: solid 1px #666888;
}

.navbar-settings {
    right: 0;
    position: absolute;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover {
    background-color: #313e5b;
    transition: background-color .1s ease-in-out;
}

#navbar-dropdown-menu-link {
    padding: 0 20px 0 0 !important;
    color: #fff;
    cursor: default;
}

.navbar-nav .nav-item {
    background-color: #3d3d3d;
}

.navbar-toggler {
    margin: auto 15px auto auto;
}

.user-name {
    padding: 20px 10px 20px 20px !important;
    text-transform: lowercase !important;
}

/* Top bar */
.top-bar {
    font-family: oswald, serif;
    text-transform: uppercase;
    display: flex;
    width: 100%;
    font-size: 28px;
    background-color: #c8d0d8;
    padding: 3px 30px;
}

.board-request-text {
    color: black;
}

.hover-effect {
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.board-row:hover .board-request-text {
    color: #d27c11;
}

.request-header {
    margin: 30px auto;
    text-transform: uppercase;
}

.request-input {
    border-radius: 4px;
    border: solid 1px grey;
    width: 71%;
    float: right;
    margin: 4px;
    height: 35px;
    padding: 5px;
}

.request-label {
    vertical-align: sub;
    font-size: 20px;
    line-height: 40px;
}

.notes-box {
    margin-right: 50px;
}

textarea {
    resize: none;
}

.request-box-label {
    margin-bottom: 0;
    margin-left: 10px;
    line-height: 1;
}

.request-box-container {
    margin-top: 30px;
}

.request-box {
    height: 150px;
}

.ok-button {
    padding: 10px 20px;
    background-color: #6dc56d;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-size: 20px;
}

.board-header {
    margin: 30px auto;
    text-transform: uppercase;
}

.button-row {
    float: right;
    margin-top: 20px;
}

.board-row {
    border: solid 1px #676767;
    border-radius: 5px;
    padding: 5px;
    margin: 3px 0;
    background-color: #fff6dc;
}

.board-row p {
    margin-bottom: 0;
}

.board-row-inner p:first-child {
    text-align: left;
    padding-left: 30px;
}

.first-row-item {
    text-align: left;
    padding-left: 20px;
}

.board-row-header {
    text-transform: uppercase;
}

.search-box {
    position: absolute;
    top: -25px;
    right: -160px;
    padding: 3px 3px 3px 5px;
}