<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Opslagstavle</title>
    <th:block th:include="fragments/head :: headInclude"/>
    <th:block th:include="fragments/to_top :: to_top"/>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container">
    <div class="row">
        <h1 class="col-md-12 text-center board-header">Opslagstavle</h1>
    </div>
    <div class="container">
            <div class="row search-row col-md-1 offset-md-9">
                <input type="text" class="search-box" id="search-box" onkeyup="searchFunction()" placeholder="Søg"/>
            </div><br/>
        <!--Header row-->
        <div class="container">
            <div class="row text-center board-row-header">
                <div class="col-md-2">
                    <p class="first-row-item">Aktivitet</p>
                </div>
                <div class="col-md-2">
                    <p>Dato</p>
                </div>
                <div class="col-md-2">
                    <p>Tid</p>
                </div>
                <div class="col-md-3">
                    <p>Sted</p>
                </div>
                <div class="col-md-3">
                    <p>Forespørger</p>
                </div>
            </div>
        </div>

        <!--Request list-->
        <div class="container" id="request-list">
            <div class="hover-effect board-row" th:each="request : ${requestList}">
                <a th:href="@{'/request/'+ ${request.getId()}+ '?accept'}">
                    <div class="row text-center board-row-inner">
                        <p class="col-md-2 board-request-text truncate" th:text="${request.getActivity()}">Trampolin</p>
                        <p class="col-md-2 board-request-text" th:text="${#strings.substring(request.getDate(),8,10)} + '-' +${#strings.substring(request.getDate(),5,7)} + '-' + ${#strings.substring(request.getDate(),0,4)}">23/12-2018</p>
                        <p class="col-md-2 board-request-text" th:text="${request.getTime()}">10.45</p>
                        <p class="col-md-3 board-request-text" th:text="${request.getLocation()}">Hal 3</p>
                        <p class="col-md-3 board-request-text" th:text="${request.requester.getFirstName()} + ' '  +${request.requester.getLastName()}">Karsten Kristensen</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>
<script>
    $(document).ready(function() {
        $('.truncate').each(function(i, obj) {
            var length = 15;
            var string = obj.innerHTML;
            if(string.length > length){
                var truncatedString = string.substring(0,length) + "...";
                obj.innerHTML = truncatedString;
            }
        });
    });
</script>
</body>
</html>